# Ignore Python virtual environments and environment files
env/
.venv/
__pycache__/
*.env
.env.*
*.json

# Ignore Dagster temporary files
.tmp_dagster_home_*/
.dagster/
dagster_home/

# Ignore dbt files with sensitive data
bec_dbt/service-account-key.json
bec_dbt/dsai-468212-key.json
bec_dbt/project-olist-470307.json
bec_dbt/logs/
bec_dbt/target/
bec_dbt/.user.yml

# Ignore macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.github/
